body {
    background-color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Bitter', serif;
}
img {
    background-color: white;
    float: inherit;
    position: relative;
    align-content: center;
    font-family: inherit;
}
table {
    display: block;
    color: black;
    border: 1px black;
}
td {
font-style: italic;
color: initial;
font-size: 40px;
text-align: left;
background-color: #ffe521;
}
h1 {
   text-align: center;
   padding-left:30%;
   padding-top: 2%;
}
ul {
    list-style:none;
    block-size: 300%;
    display: block;
    box-sizing: content-box;
}
li {
    font-size: 30px;
    color: black;
    background-color: #ffe521;
    opacity: 0.8;
}

.menu {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffe521;
    overflow-x: hidden;
    padding-top: 20px;
}

.menu img{
    max-width: 150px;
}

.menu a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.menu a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 18px;}
}
.col-center{
     float: none;
    margin: 0 auto;
}
.margin-bottom-pink{
    margin-bottom: 1em solid #ff009e;
}
.margin-bottom-green{
    margin-bottom: 5px solid #56F89A;
}
.clock{
 position: right;
}

.container{
    height: 11em;
}
h2{
    text-align: center;
}

#bg2{
    display: none;
}
#bg3{
    display: none;
}
#bg4{
    display: none;
}