
body {
    background-color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Bitter', serif;
}
img {
    background-color: white;
    float: inherit;
    position: relative;
    align-content: center;
    font-family: inherit;
}
table {
    display: block;
    color: black;
    border: 1px black;
}
h1 {
   text-align: center;
   padding-left:30%;
   padding-top: 2%;
}
ul {
    list-style:none;
    block-size: 300%;
    display: block;
    box-sizing: content-box;
}
li {
    font-size: 30px;
    color: black;
    background-color: #ffe521;
    opacity: 0.8;
}

.menu {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffe521;
    overflow-x: hidden;
    padding-top: 20px;
    color: white;
}

.menu img{
    max-width: 150px;
}

.menu a {
    padding: 6px 12px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.menu a:hover {
    color: #FF009E;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 15px;}
}
.col-center{
     float: none;
    margin: 0 auto;
}
.margin-bottom-pink{
    margin-bottom: 1em solid #ff009e;
}
.margin-bottom-green{
    margin-bottom: 5px solid #56F89A;
}
.clock{
 position: right;
}

.container{
    height: 11em;
}
#tabla {
 display: block;
 visibility: hidden;
 box-sizing: content-box;
 position: relative;
 size: content-box;
}
h2{
    text-align: center;
}
h4 {
    padding: 8px;
    color: #3e3737;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
}

#bg2{
    display: none;
    color: black;
}
button{
    color: white;
    background-color: #ffe526 !important;
    border: none !important;
}
.sedes{
    font-size: 17px;
}
form {
    margin-top: 3em;
    display: inline-block;
}
#formulario {
    text-align: center;
}
#formulario h1{
    text-align: left;
}
#tabla-alumnas{
    background-color: white;
    font-size: 17px;
}
.tituloTabla {
    border-top-right-radius: 10px;
    background: #ffe526;
    padding: 20px;
}

.center {
    text-align: center;
}

#students {
    overflow: scroll;
    max-height: 600px;
    border: 1px solid #f3f3f2;
    padding: 0px;
}

.estudiante1 {
    background: #ffffff;
}

.estudiante2 {
    background: #f5f4f4;
}

.spanHeaderStudents {
    font-size: 14px;
}