body {
    background-color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Bitter', serif;
}
#header {
    background-color: #ffe521;
}
img {
    background-color: white;
    float: inherit;
    position: relative;
    align-content: center;
    font-family: inherit;
}
h1 {
    text-decoration: underline #ff009e;
    color: black;
    text-shadow: #56f89a 5px 5px;
    font-size: 80px;

}
table {
    display: block;
    color: black;
    border: 1px black;
}
td {
font-style: italic;
color: initial;
font-size: 40px;
text-align: left;
background-color: #ffe521;
}
h2 {
   text-align: center;
}
/*div.carousel {
    display: block;
    width: 40px;
}*/
#f1 {
    width: 500px;
}
/*#f2 {
    width: 500px;
}
#f3 {
    width: 500px;
}*/
#Logeo {
    background-color: rgb(245, 233, 164);
    display: block;
    position: relative;
    float: right;
    top: -200px;
    right: 30px;
    box-sizing: content-box;
    font-size: 30px;
}
#bg {
    background-image: url(http://v.fastcdn.co/t/cf943cfe/5519e61e/1527645395-27537452-261x174-1-9-BmNCpapQNZYw5G40.jpeg) no-repeat center center fixed;
}
ul {
    list-style:none;
    block-size: 300%;
    display: block;
    box-sizing: content-box;
}
li {
    font-size: 30px;
    color: black;
    background-color: #ffe521;
    opacity: 0.8;
}

.menu {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffe521;
    overflow-x: hidden;
    padding-top: 20px;
}

.menu img{
    max-width: 150px;
}

.menu a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.menu a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .menu {padding-top: 15px;}
  .menu a {font-size: 18px;}
}
.col-center{
     float: none;
    margin: 0 auto;
}
.margin-bottom-pink{
    margin-bottom: 1em solid #ff009e;
}
.margin-bottom-green{
    margin-bottom: 5px solid #56F89A;
}